<div class="flex-layout">
    <div class="colLeft">
        <div class="imgContainer">
            <img class="mainImg" src="../../assets/animals/1.jpg" />
        </div>
        <div class="imgContainer">
            <img class="mainImg" src="../../assets/animals/2.jpg" />
        </div>
    </div>
    <div class="colRight">
        <div class="imgContainer">
            <img class="mainImg" src="../../assets/animals/3.jpg" />
        </div>
        <div class="imgContainer">
            <img class="mainImg" src="../../assets/animals/4.jpg" />
        </div>
        <div class="imgContainer">
            <img class="mainImg" src="../../assets/animals/5.jpg" />
        </div>
    </div>
</div>