<div class="mainCol">
    <img class="absoluteImg" src="../../assets/about/portrait.jpg" />
    <div class="colLeft"></div>
    <p class="absoluteTitle"> DANIELA ARGANDOÑA LöWE</p>
    <div class="colRight">
        <div class="aboutPrgrph">
            <p class="photoTxt">
                PHOTOGRAPHER
            </p>
            <div class="whiteLine"></div>
            <p class="meTxt">
                ABOUT ME
            </p>
            <p class="aboutTxt">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Tempor orci dapibus ultrices in iaculis nunc sed. Placerat orci nulla pellentesque
                dignissim enim sit amet venenatis.
            </p>
            <p class="aboutTxt">
                Aliquet nibh praesent tristique magna sit amet. Semper viverra nam
                libero justo laoreet sit amet. Senectus et netus et malesuada fames ac turpis. Ultricies mi quis
                hendrerit dolor magna eget est lorem ipsum.
            </p>
            <p class="aboutTxt">
                Vel pretium lectus quam id leo in vitae turpis. Nunc pulvinar sapien et ligula ullamcorper.
                Arcu dictum varius duis at. Congue quisque egestas diam in arcu
                cursus. Mauris vitae ultricies leo integer malesuada. Odio euismod lacinia at quis risus sed vulputate
                odio ut. Dictum sit amet justo donec enim diam vulputate ut. Nunc eget lorem dolor sed viverra ipsum.
                Massa sed elementum tempus egestas.
            </p>
            <p class="aboutTxt">
                Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien. Proin sagittis
                nisl rhoncus mattis rhoncus. Posuere ac ut consequat semper viverra nam libero. Mauris commodo quis
                imperdiet massa tincidunt.
            </p>
        </div>
    </div>
</div>