.mainCol {
    display: flex;
    width: 100%;
    height: 90vh;
}

.colLeft {
    flex: 1;
    width: 100%;
    background-color: white;
}

.colRight {
    flex: 1;
    width: 100%;
    background-color: rgb(46, 45, 45);
}

.absoluteImg {
    position: absolute;
    width: auto;
    height: 80%;
    margin-left: 15%;
    margin-top: 5vh;
}

.absoluteTitle {
    position: absolute;
    font-size: 2.3vw;
    font-weight: bold;
    color: white;
    margin-left: 34%;
    margin-top: 5%;
    letter-spacing: 0.47em;
}

.aboutPrgrph {
    width: 60%;
    position: relative;
    margin-left: 9.5%;
    margin-top: 21%;
}

.photoTxt {
    color: rgb(168, 168, 168);
    font-size: 24px;
    letter-spacing: 0.2em;
}

.meTxt {
    color: white;
    font-size: 30px;
    letter-spacing: 0.1em;
}

.whiteLine {
    background-color: white;
    height: 2px;
    width: 100%;
}

.aboutTxt {
    z-index: -1;
    color: white;
    margin-bottom: 3%;
    line-height: 1em;
}