.main-col{
    flex:1;
    display: flex;
}

.container-col{
    display: flex;
    flex: 1;
    flex-direction: row;
}

.left-col{
    flex:1;
    display: flex;
    justify-content: flex-end;
    height: 90vh;
}

.right-col{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.title-flex{
    flex: 1;
    margin-right: 45%;
    margin-left: 5%;
    margin-top: 7vh;
}

.title-flex p{
    font-size: 1.8vw;
    font-weight: bold;
}

.subtitle-flex{
    flex: 1;
    margin-right: 45%;
    margin-left: 5%;
}

.subtitle-flex p{
    font-weight: bold;
    font-size: 1.5vw;
}

.profile-img {
    height: 500px;
    width: auto;
    margin-top: 10vh;
    margin-right: 5%;
    margin-left: 10%;
}

.paragraph-flex {
    font-family: Lato, serif;
    flex: 8;
    width: 500px;
    margin-left: 5%;
}

.paragraph-flex p {
    font-family: Lato, serif;
    font-size: 18px;
    line-height: 2em;
}

@media (max-width: 1280px){
    .profile-img{
        height: 450px;
        width: auto;
        margin-top: 10vh;
        margin-right: 5%;
        margin-left: 10%;
    }

    .paragraph-flex{
        font-family: Lato, serif;
        flex: 8;
        width: 450px;
        margin-left: 5%;
    }

    .paragraph-flex p{
        font-family: Lato, serif;
        font-size: 18px;
    }


}

@media (max-width: 1024px){
    .profile-img{
        height: 350px;
        width: auto;
        margin-top: 10vh;
        margin-right: 5%;
        margin-left: 10%;
    }

    .paragraph-flex{
        flex: 8;
        width: 350px;
        margin-left: 5%;
    }

    .paragraph-flex p{
        font-family: Lato, serif;
        font-size: 12px;
        line-height: 1.2em;
    }
}

@media (max-width: 767px) {
    .container-col{
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .left-col{
        justify-content: center;
        height: auto;
    }

    .right-col{
        height: auto;
    }

    .profile-img{
        height: 310px;
        width: auto;
        margin-top: auto;
        margin-right: auto;
        margin-left: auto;
    }

    .paragraph-flex{
        flex: 8;
        width: 310px;
        justify-self: center;
        margin: auto;
        text-align: center;
    }

    .title-flex{
        margin: auto;
    }

    .title-flex p{
        font-size: 24px;
    }

    .subtitle-flex{
        margin: auto;
    }

    .subtitle-flex p{
        font-size: 22px;
    }
}
