<div class="background">
    <div class="form-flex">
        <div class="form-title">
            <div class="flex-title">
                <p>GET IN TOUCH</p>
            </div>
            <div class="flex-subtitle">
                <p>
                    Thank you for contacting me, I'll do my best to answer as soon as possible.
                </p>
            </div>
        </div>
        <div class="form-body">
            <div class="top-row">
                <input type="text" class="flex-input" placeholder="Name*" />
                <input type="text" placeholder="Email*" />
            </div>
            <div class="bot-row">
                <textarea class="text-area" placeholder="Message*"></textarea>
            </div>
        </div>
        <div class="form-button">
            <input type="button" value="Send message"/>
        </div>
    </div>
</div>