<div class="flex-layout">
    <div class="colLeft">
        <div class="imgContainer">
            <img class="mainImg" src="../../assets/animals/caballosFila.jpg" />
        </div>
        <div class="imgContainer">
            <img class="mainImg" src="../../assets/animals/basureroMaldo.jpg" />
        </div>
        <div class="imgContainer">
            <img class="mainImg" src="../../assets/animals/caballoRisa.jpg" />
        </div>
    </div>
    <div class="colMid">
        <div class="imgContainer">
            <img class="mainImg" src="../../assets/animals/bandada.jpg" />
        </div>
        <div class="imgContainer">
            <img class="mainImg" src="../../assets/animals/cocodrilin.jpg" />
        </div>
        <div class="imgContainer">
            <img class="mainImg" src="../../assets/animals/cabraBailando.jpg" />
        </div>
    </div>
    <div class="colRight">
        <div class="imgContainer">
            <img class="mainImg" src="../../assets/animals/falsaYara.jpg" />
        </div>
        <div class="imgContainer">
            <img class="mainImg" src="../../assets/animals/pajaroBasura.jpg" />
        </div>
        <div class="imgContainer">
            <img class="mainImg" src="../../assets/animals/gaviota.jpg" />
        </div>
    </div>
</div>