.flex-layout{
    display: flex;
    height: 90vh;
    width: 98vw;
    margin-left: 1%;
}

.colLeft{
    flex:1;
    width: 100%;
    margin-right: 1%;
    position: relative
}

.colRight{
    flex:1;
    width: 100%;
}

.imgContainer{
    position: relative;
    width: 100%;
    margin-bottom: 2%;
}

.mainImg{
    width: 100%;
    height: auto;
    border-radius: 5px;
}