<div class="flex-layout">
    <div class="colLeft">
        <div class="imgContainer">
            <div class="divImage"><p>A R T</p></div>
            <img class="catImage" src="../../assets/flora-fungi/plumerillo-rosado.jpg" />
        </div>
        <div class="imgContainer">
            <div class="divImage"><p>L A N D S C A P E S</p></div>
            <img class="catImage" src="../../assets/cars/golfMK1.JPG"/>
        </div>
        <div class="imgContainer">
            <div class="divImage" routerLink="/animals"><p>A N I M A L S</p></div>
            <img class="catImage" src="../../assets/animals/bandada.jpg"/>
        </div>
    </div>
    <div class="colRight">
        <div class="imgContainer">
            <div class="divImage"><p>F L O R A</p></div>
            <img class="catImage" src="../../assets/flora-fungi/flores-uru.jpg" />
        </div>
        <div class="imgContainer">
            <div class="divImage" ><p>P E O P L E</p></div>
            <img class="catImage" src="../../assets/cars/miniZoom.JPG"/>
        </div>
        <div class="imgContainer">
            <div class="divImage"><p>M A C R O S</p></div>
            <img class="catImage" src="../../assets/flora-fungi/hongo-marron.jpg">
        </div>
    </div>
</div>
