<div class="flex-layout">
    <div class="colLeft">
        <div class="imgContainer">
            <div class="divImage"><p>A R T</p></div>
            <img class="catImage" src="../../assets/categories/art.jpg" />
        </div>
        <div class="imgContainer">
            <div class="divImage"><p>L A N D S C A P E S</p></div>
            <img class="catImage" src="../../assets/categories/landscapes.jpg"/>
        </div>
        <div class="imgContainer">
            <div class="divImage"><p>A N I M A L S</p></div>
            <img class="catImage" src="../../assets/categories/animals.jpg"/>
        </div>
    </div>
    <div class="colRight">
        <div class="imgContainer">
            <div class="divImage"><p>F L O R A</p></div>
            <img class="catImage" src="../../assets/categories/flora.jpg" />
        </div>
        <div class="imgContainer">
            <div class="divImage" routerLink="/animals"><p>P E O P L E</p></div>
            <img class="catImage" src="../../assets/categories/people.JPG"/>
        </div>
        <div class="imgContainer">
            <div class="divImage"><p>M A C R O S</p></div>
            <img class="catImage" src="../../assets/categories/macros.jpg">
        </div>
    </div>
</div>
