.leftside, .rightside{
    height: 100vh;
    width: 100%;
}

.logo{
    position: absolute;
    left: 24.5%;
    top: 40%;
    width: 50%;
    height: auto;
}

.leftside{
    background-color: white;
}

.rightside{
    /* background-image: url('../../../assets/img/photos/welcome-image.png');
    background-position: right;  */
    background-color: #2c2c2c;
}