<div class="flex-layout">
    <div class="divLeft">
        <img src="../../../assets/logos/navLogo.png" class="homeLogo" />
    </div>
    <div class="divRight">
        <img #menuIcon class="sidebar-menu-icon" (click)="showMenu()" src="../../../assets/icons/menu.svg" />
        <div class="listContainer">
            <div *ngFor="let menuItem of menuItems" class="listItem">
                <div *ngIf="menuItem.hasSubmenu" class="dropdown">
                    <p class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="outline: none; cursor: pointer;">
                        {{menuItem.title}}  
                      </p>
                      <div class="dropdown-menu">
                        <a *ngFor="let submenuItem of menuItem.submenu" class="dropdown-item" [routerLink]="submenuItem.path" routerLinkActive="actived">{{submenuItem.title}}</a>
                      </div>
                </div>
                <div style="outline: none; cursor: pointer;" *ngIf="!menuItem.hasSubmenu" [routerLink]="menuItem.path">
                    <p style="outline: none; cursor: pointer;" routerLinkActive="active" id="menuItem.title"
                    [routerLinkActiveOptions]="{exact: true}">
                    {{menuItem.title}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="menu-sidebar" #sidebarMenu>
    <div class="top-menu">
        <img class="top-menu-img" src="../../../assets/logos/navLogo.png" />
    </div>
    <div class="bot-menu">
        <div *ngFor="let menuItem of menuItems" class="button-container">
            <div *ngIf="menuItem.hasSubmenu" class="dropdown">
                <p class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="outline: none; cursor: pointer;">
                    {{menuItem.title}}
                </p>
                <div class="dropdown-menu">
                    <a *ngFor="let submenuItem of menuItem.submenu" class="dropdown-item" [routerLink]="submenuItem.path" routerLinkActive="actived">{{submenuItem.title}}</a>
                </div>
            </div>
            <div style="outline: none; cursor: pointer;" *ngIf="!menuItem.hasSubmenu" [routerLink]="menuItem.path">
                <p style="outline: none; cursor: pointer;" routerLinkActive="active" id="menuItem.title"
                   [routerLinkActiveOptions]="{exact: true}">
                    {{menuItem.title}}</p>
            </div>
        </div>
        <div class="button-container">
            <img class="cross-menu" (click)="hideMenu()" src="../../../assets/icons/x-circle.svg" />
        </div>
    </div>
</div>