<div class="flex-layout">
    <div class="colRight">
        <mdb-carousel [noPause]="true"  [isControls]="false" class="carousel slide carousel-fade" [animation]="'fade'">
            <mdb-carousel-item class="containerImg">
                <img class="homeImg" src="../../assets/optimized/cabra.jpg"
                    alt="First slide">
            </mdb-carousel-item>
            <mdb-carousel-item class="containerImg">
                <img class="homeImg" src="../../assets/optimized/basura.jpg"
                    alt="Second slide">
            </mdb-carousel-item>
            <mdb-carousel-item class="containerImg">
                <img class="homeImg" src="../../assets/optimized/coco.jpg"
                    alt="Third slide">
            </mdb-carousel-item>
        </mdb-carousel>
        <!-- <img src="../../assets/homepage/falsaYara.jpg" class="homeImg"> -->
    </div>
    <div class="colLeft">
        <mdb-carousel [isControls]="false" class="carousel slide carousel-fade" [animation]="'fade'">
            <mdb-carousel-item class="containerImg">
                <img class="homeImg" src="../../assets/homepage/basuralMaldonado.jpg"
                    alt="First slide">
            </mdb-carousel-item>
            <mdb-carousel-item class="containerImg">
                <img class="homeImg" src="../../assets/homepage/chorloDoble.jpg"
                    alt="Second slide">
            </mdb-carousel-item>
            <mdb-carousel-item class="containerImg">
                <img class="homeImg" src="../../assets/homepage/LagartoOvero.jpg"
                    alt="Third slide">
            </mdb-carousel-item>
        </mdb-carousel>
    </div>
</div>