.flex-layout{
    display: flex;
    height: 100%;
}

.mainCol{
    height: 100%;
    width: 100%;
    flex: 1;
}

.colRight{
    height: 90vh;
    width: 100%;
    margin-left: 0.9%;
    margin-right: 0.5%;
    flex:1;
}

.colLeft{
    height: 90vh;
    width: 100%;
    margin-right: 0.9%;
    margin-left: 0.5%;
    margin-bottom: 0.5%;
    flex: 1;
}

.containerImg{
    height: 90vh;
    width: 100%;
}

.homeImg{
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}

/* .modal-content, .modal-body, .modal-dialog, .modal-lg{
    width: auto;
    align-self: center;
    margin: 0;

} */